@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><p><img src="https://i.pinimg.com/564x/65/c6/72/65c672517c21787bed4b68b0d141472b.jpg"></p></h1>
    <p>Сайт розроблений поціновувачами смачного пару для поціновувачів смачного пару. На сайті зібрано інформацію про смак рідини, її міцність та виробника. Ми допоможемо обрати рідину в залежності від ваших вподобань.</p>
</div>
